Don't return non-loopback addresses when resolving `localhost`.

See discussion #972. 

At some point after c-ares `v1.21.0`, a call to `ares_getaddrinfo` could cause `localhost` to resolve to an IP address which is not a loopback address. In the observed case, an entry for `localhost` in `/etc/hosts` with a non-loopback IP would be used as a valid resolution for `localhost`. This seems to directly contradict [RFC 6761 Section 3 #3](https://rfc-annotations.research.icann.org/rfc6761.html#line-417):

> Name resolution APIs and libraries SHOULD recognize localhost names as special and SHOULD always return the IP loopback address for address queries and negative responses for all other query types.

In these cases c-ares should ignore `/etc/hosts` entries which are not loopback addresses.

doubt this is actually a regression since c-ares used to never do any sort of localhost special casing and would just forward upstream if not found in hosts.  The only thing I can think of is if maybe it used to upstream the request to the DNS server and the dns server was returning the response.  Nonetheless needs to be fixed as the current behavior seems invalid, even with this bogus `/etc/hosts` scenario.

It is not a regression, however it will indeed by nice that c-ares adapts that RFC that while it is not an official standard yet it does indeed includes the best practices and avoids most annoying behaviours found in the wild.